.addButton {
    color: var(--text-color);
    background-color: var(--primary-color);
    
}

.cartoes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 20px;
    margin-top: 1rem;
}